# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Allure
.allure/
allure-results/
"/Users/andrea.beltran/Documents/apache-jmeter-5.6.3/selenium_zap_pom _V1/target/site/allure-maven-plugin"/

# Test results
scan-results/
surefire-reports/
cucumber-json/
cucumber-html/

# Logs
*.log

# Node modules (if any)
node_modules/
package-lock.json

# Temporary files
*.tmp
*.temp